{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
	STATUS_INTERVAL = {{ status_interval|tojson }}
	AJAX_TIMEOUT = 5000
	
	API_BASEURL = {{ url_for("jukebox_api.index")|tojson }}
	
	
	URL_PLAYBUTTON = {{ url_for("jukebox.static", filename="images/mplayer_play.png")|tojson }}
	URL_PAUSEBUTTON = {{ url_for("jukebox.static", filename="images/mplayer_pause.png")|tojson }}
	URL_MUTEBUTTON = {{ url_for("jukebox.static", filename="images/mplayer_mute.png")|tojson }}
	URL_UNMUTEBUTTON = {{ url_for("jukebox.static", filename="images/mplayer_speaker.png")|tojson }}
</script>
<link rel="stylesheet" href="{{ url_for("jukebox.static", filename="mediaplayer.css") }}">
<script src="{{ url_for("jukebox.static", filename="mediaplayer.js") }}"></script>  	
<div data-role="popup" id="errorPopup">
	<p id="errorMsg"></p>
</div>
<div class="ui-grid-solo">
	<div class="ui-block-a" text-align=center><p style="margin: 0 auto;" class="marquee" id="divSongTitle">...</p></div>
</div>
<div class="ui-grid-solo">
	<div class="ui-block-a"><input type="range" name="sliderProgress" id="sliderProgress" data-highlight="true" value="0", min="0", max="100"></div>	
</div>
<div class="ui-grid-solo">	
	<div class="ui-block-a" style="text-align:center">
		<div data-role="controlgroup" data-type="horizontal" data-inline="true">
			<a href="#" data-role="button"><img id="mplayer-skipbutton" class="mplayer-icon" src="{{ url_for("jukebox.static", filename="images/mplayer_skiptostart.png") }}"/></a>
			<a href="#" data-role="button"><img id="mplayer-playbutton" class="mplayer-icon" src="{{ url_for("jukebox.static", filename="images/mplayer_play.png") }}"/></a>
			<a href="#" data-role="button"><img id="mplayer-endbutton" class="mplayer-icon" src="{{ url_for("jukebox.static", filename="images/mplayer_end.png") }}"/></a>
		</div>
	</div>
</div>
<div id="mplayer-adv-controls" class="ui-grid-solo" style="text-align:center">
	<div class="ui-block-a" style="text-align:center"><div data-role="controlgroup" data-type="horizontal">
		<a href="#" data-role="button"><img id="mplayer_repeatbutton" class="mplayer-icon" src="{{ url_for("jukebox.static", filename="images/mplayer_repeat.png") }}"/></a>
		<a href="#" data-role="button"><img id="mplayer_shufflebutton" class="mplayer-icon" src="{{ url_for("jukebox.static", filename="images/mplayer_shuffle.png") }}"/></a>
	</div></div>
</div>
<div style="text-align:center">
	<div style="display:inline-block; vertical-align:middle; height:100%; width:350px"><input type="range" name="volslider" id="mplayer-volslider" data-highlight="true" min="0" max="100" value="50"></div>
</div>
<div id="playlistSelectDiv">
	
</div>
<div id="playlistViewDiv">

</div>
{% endblock %}
{% block footer %}
{% endblock %}