<!DOCTYPE html> 
<html lang="en">
<head> 
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Raspi Bear! - {{ title }} </title> 
	<link rel="stylesheet" href={{ url_for("static", filename="jquery.mobile-1.4.1.min.css")|tojson }}>
	<link rel="stylesheet" href={{ url_for("static", filename="jquery.mobile.theme-1.4.1.min.css")|tojson }}>
	<link rel="shortcut icon" href={{ url_for("static", filename="images/favicon.ico")|tojson }} />
	<script src={{ url_for("static", filename="jquery-2.0.3.min.js")|tojson }}></script>
  	<script src={{ url_for("static", filename="jquery.mobile-1.4.1.min.js")|tojson }}></script>
  	<script src={{ url_for("static", filename="handy.js")|tojson }}></script>
  	<script type="text/javascript">
  		SCRIPT_ROOT = {{ request.url_root|tojson }}
  	</script>  	
</head>
<body> 
<div data-role="page" id={{ page_id|tojson }} data-theme="a">
	<div data-role="header" data-theme="d">
		<h1>{{ title }}</h1>
		<div data-role="navbar">
		<ul>
		    <li><a href={{ url_for("jukebox.show")|tojson }}>Jukebox!</a></li>
		    <li><a href={{ url_for("camcontrol.show")|tojson }}>Teddycam!</a></li>
		</ul>
		</div>
	</div>

	{% block content %} {% endblock %}
	
	<div data-role=footer data-theme="d">
    	{% block footer %} {% endblock %}
  	</div>

</div>

</body>
</html> 

